[Interface]
Privatekey={{ private_key }}
Address = 10.225.191.4/24,fd11:5ee:bad:c0de::4/64
DNS=192.168.10.1

[Peer]
Publickey=fa3mQ7ximJbH7cu2ZbWidto5xBGxEEfWvCCiUDk00Hg=
PresharedKey={{ preshared_key }}
Endpoint=wg.geokunis2.nl:51820
AllowedIPs = 0.0.0.0/0, ::0/0
